<h1 class="welcome">Welcome to Codecore Drillz</h1>
<div class="d-flex justify-content-center">
  <a href="/session/new">
    <button class="enter btn btn-lg btn-outline-primary">Enter</button>
  </a>
</div>
