<div class="bg">
  <div class="landingStrip">
    <div class="landingMessage">
      <h1>Welcome to CodeZen</h1>
      <div class="entryButton d-flex justify-content-center">
        <a href="/sign_in">
          <button class="btn btn-lg btn-outline-light">Enter</button>
        </a>
      </div>
    </div>
  </div>
</div>
