<h1>Leaderboard</h1>

<div class="w-75 mx-auto">
  <div class="leaderboard-current-user my-4 d-flex">
    <div>
      <span class="badge badge-light badge-pill p-3">Your points</span>
      <%= get_user_points(current_user) %>
    </div>
    <div>
      <span class="badge badge-light badge-pill ml-3 p-3">Your badges</span>
      <%= @badges.count %>
    </div>
  </div>

  <ul class="list-group list-group-flush">
    <% @users.each do |user| %>
      <% if user.user_id === current_user.id %>
        <li class="list-group-item green d-flex justify-content-between align-items-center">
        <% else %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <% end %>
              <div><%= user.first_name %></div>
              <div><%= user.total_points %></div>
          </li>
          <% end %>
  </ul>

</div>