<header>
  <h1 class="page-heading">Leaderboard</h1>
</header>
<hr>

<main class="page-container">

  <div class="leaderboard-current-user">
    <div class="d-flex align-items-baseline my-3">
      <div><span class="badge badge-light badge-pill p-3">Your points</span></div>
      <div><%= get_user_points(current_user) %></div>
    </div>
    <div class="d-flex align-items-baseline my-3">
      <div><span class="badge badge-light badge-pill p-3">Your badges</span></div>
      <div><%= @badges.count %></div>
    </div>
  </div>

  <ul class="list-group list-group-flush my-4">
    <% @users.each do |user| %>
      <% if user.user_id === current_user.id %>
        <li class="list-group-item green d-flex justify-content-between align-items-center">
      <% else %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
      <% end %>
        <div><%= user.first_name %></div>
        <div><%= user.total_points %></div>
      </li>
    <% end %>
  </ul>

</main>
