<div class="form-group">
  <%= simple_form_for [@drill_group, @drill] do |f| %>

    <%= f.input :question, class: 'form-control' %>

  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-outline-primary' %>
  </div>
<% end %>
