
body {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  color: #272512;
}


.green {
  color: white;
  background-color: #798C70;
}


.nav-item {
  color: #FAF9F9 !important;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  transition: 0.2s ease;
}

.nav-link:hover {
  transform: scale(1.2);
}

.btn-outline-light{
  color: #798C70;
  border-color: #798C70;
}

.btn-outline-light:hover {
  background-color: #798C70;
  color: white;
}

.navbar-item {
  margin:0 3px;
}


.navbar-brand {
  margin: 0;
  padding: 0 5px;
}

.welcome {
  text-align: center;
  margin: 1em 1em;
  font-size: 4em;
  margin-bottom: 2em;
}

.enter {
  width: 4em;
  height: 2em;
  font-size: 4em;
}

.container.drill-groups {
  border: 1px solid white;
  border-radius: 10px;
  justify-content: center;
  padding-bottom: 1em;
}

.container.drill-groups > div {
  border: 1px solid white;
  border-radius: 10px;
}

.container.drill-groups > h3 {
  margin-top: 1em;
  margin-left: 1em;
}

.card.drill-group {
  border-color: rgba(30, 30, 30, 0.2);
  margin:2em 2em 2em 2em ;
  width: 220px;
  height: 275px;
}

.card-body > .contents {
  height: 195px;
}

.drill-group-title {
  white-space: nowrap;
  overflow-y: hidden;
}

.help-block {
  color: #d30008;
}

// LEADERBOARD

.leaderboard-current-user {
  font-size: 1.4em;
}