body {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.btn-outline-light{
  color: #798C70;
  border-color: #798C70;
}

.btn-outline-light:hover {
  background-color: #798C70;
  color: white;
}

.navbar-item {
  margin:0 3px;
}

.logo {
  border: 3px solid gray;
  border-radius: 10px;
}

.navbar-brand {
  margin: 0;
  padding: 0 5px;
}

.welcome {
  text-align: center;
  margin: 1em 1em;
  font-size: 4em;
  margin-bottom: 2em;
}

.enter {
  width: 4em;
  height: 2em;
  font-size: 4em;
}

.container.drill-groups {
  border: 1px solid gray;
  border-radius: 10px;
  justify-content: center;
  padding-bottom: 1em;
}

.container.drill-groups > div {
  border: 1px solid gray;
  border-radius: 10px;
}

.container.drill-groups > h3 {
  margin-top: 0.5em;
}

.card.drill-group {
  border-color: gray;
  margin:2em 2em 2em 2em ;
  width: 220px;
  height: 220px;
}

.card-body > .contents {
  height: 140px;
}

.drill-group-title {
  white-space: nowrap;
  overflow-y: hidden;
}

.help-block {
  color: #d30008;
}
