.flash-message {
  padding: 8px;
  color: darkolivegreen;
  background-color: palegreen;
  border-radius: 5px;
  margin: 1em 0;
  text-align: center;
}

.navbar-item {
  margin:0 3px;
}

.logo {
  border: 3px solid gray;
  border-radius: 10px;
}

.navbar-brand {
  margin: 0;
  padding: 0 5px;
}
