<p>
  <strong>Solution:</strong>
  <%= @solution.solution %>
</p>

<p>
  <strong>Drill:</strong>
  <%= @solution.drill %>
</p>

<%= link_to 'Edit', edit_solution_path(@solution) %> |
<%= link_to 'Back', solutions_path %>
